<br><br><br><br>
<section class="container-fluid bg-warning">
    <h1 class="text-white text-center">Notes</h1>
</section> <br>

<section class="container-fluid col-auto">
    <% if(current_user.notes) %>
          <table class="table table-warning table-hover">
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Description</th>
            <th ></th>
             <th ></th>
              <th ></th>
          </tr>
        </thead>

        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td><%= note.title %></td>
              <td><%= note.description.first(10) ... %></td>
              <td><%= link_to 'Show', note %></td>
              <td><%= link_to 'Edit', edit_note_path(note) %></td>
              <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
        <h2 class="text-center"> Vous n'avez aucune note </h2>

    <% end %>
      <br>

      <%= link_to 'Créer une note', new_note_path , class: "btn btn-success  w-100 text-light"%>
</section>
<br><br><br><br>

