<br><br> <br><br> <br><br>
<div class="row">
<div class="col-lg-3">
</div>
  <div class="col-lg-6">
    <section class=" border rounded border-3 p-4 m-4">

          <h2 class="text-center">Renvoyer le lien de confirmation</h2>

          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="col-auto">
              <%= f.label :email, class: "form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
            </div> <br>

            <div class="actions">
              <%= f.submit "Renvoyer le lien", class: "btn btn-warning w-100"  %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
    </section>
  </div>
<div class="col-lg-3">
</div>
</div>
<br><br> <br><br>