<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

  <title>Notebook | Changer mon mot de passe </title>
    <meta name="description" content="Inscrivez-vous et profitez de l'appli la plus géniale du moment. Evidemment NoteBook ne sera pas juste une appli de journal....
" /> 
    <!-- La balise keywords n’est pas supporté par Google -->
    <meta name="keywords" content="innovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
    <!-- Utilisez plutôt la création de Google -->
    <meta name="news_keywords" content="nnovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 

 

    <meta name="mobile-web-app-capable" content="yes" /> 
    <meta name="googlebot" content="indexing" />
    <meta name="author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="generator" content="FredTheDev" />
    <meta name="rating" content="10" />
    <meta name="application-name" content="NoteBook" />
    <meta name="contact" content="+229 99545481 ntbookfr.herokuapp.com ’[adresse]’" />
    <meta name="mobile-agent" content="format=html5; url=mobile.htm" />
    <meta name="web_author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="collection" content="FredTheDev" />
    <meta name="generator" content="" />
    <meta name="version" content="" />
</head>


<br><br> <br><br> <br><br>
<div class="row">
<div class="col-lg-3">
</div>
  <div class="col-lg-6">
    <section class=" border rounded border-3 p-4 m-4">          
          
          <h2 class="text-center">Changer mon mot de passe</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="col-auto">
              <%= f.label :password, "Nouveau mot de passe", class: "form-label" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
            </div><br>

            <div class="col-auto">
              <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class: "form-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div><br>

            <div class="col-auto">
              <%= f.submit "Modifier mon mot de passe" class: "btn btn-success w-100" %>
            </div><br>
          <% end %>

          <%= render "devise/shared/links" %>
 </section>
  </div>
<div class="col-lg-3">
</div>
</div>
<br><br> <br><br>