<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    
      <title>Notebook | Connexion </title>
    <meta name="description" content="Connectez-vous et profitez de l'appli la plus géniale du moment. Evidemment NoteBook ne sera pas juste une appli de journal....
" /> 
    <!-- La balise keywords n’est pas supporté par Google -->
    <meta name="keywords" content="innovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
    <!-- Utilisez plutôt la création de Google -->
    <meta name="news_keywords" content="nnovation notebook fredthedev ifri freddy.agbona bénin prohackfr application web site note temps informations outils minuteur" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> 

 

    <meta name="mobile-web-app-capable" content="yes" /> 
    <meta name="googlebot" content="indexing" />
    <meta name="author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="generator" content="FredTheDev" />
    <meta name="rating" content="10" />
    <meta name="application-name" content="NoteBook" />
    <meta name="contact" content="+229 99545481 ntbookfr.herokuapp.com ’[adresse]’" />
    <meta name="mobile-agent" content="format=html5; url=mobile.htm" />
    <meta name="web_author" content="FredTheDev" />
    <meta name="designer" content="FredTheDev" />
    <meta name="collection" content="FredTheDev" />
    <meta name="generator" content="" />
    <meta name="version" content="" />
</head>
<br><br> <br><br> <br><br>
<div class="row">
<div class="col-lg-3">
</div>
  <div class="col-lg-6">
    <section class=" border rounded border-3 p-4 m-4">
            <h2 class="text-center">Se connecter</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


              <div class="col-auto">
                <%= f.label :email, class: "form-label"  %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control" %>
              </div><br>

              <div class="col-auto">
                <%= f.label :password, class: "form-label"  %><br />
                <%= f.password_field :password, autocomplete: "current-password",  class: "form-control" %>
              </div><br>

              <% if devise_mapping.rememberable? %>
                <div class="col-auto">
                  <%= f.check_box :remember_me, class: "form-check-label" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div><br>
              <% end %>

              <div class="actions">
                <%= f.submit "Se connecter", class: "btn btn-success w-100" %>
              </div><br>
            <% end %>

            <%= render "devise/shared/links" %>
  </section>
  </div>
<div class="col-lg-3">
</div>
</div>
<br><br> <br><br>